<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recomendacao de Carreira</title>
</head>
<body>
    <h1>Sistema de Recomendacao de Carreira</h1>

    <form method="POST">
        <h3>Selecione suas preferencias:</h3>

        <input type="checkbox" name="interests" value="gosta_matematica"> Gosto de matematica<br>
        <input type="checkbox" name="interests" value="gosta_programacao"> Gosto de programacao<br>
        <input type="checkbox" name="interests" value="gosta_biologia"> Gosto de biologia<br>
        <input type="checkbox" name="interests" value="gosta_pessoas"> Gosto de ajudar pessoas<br>
        <input type="checkbox" name="interests" value="gosta_artes"> Gosto de artes<br>
        <input type="checkbox" name="interests" value="criativo"> gosto de desenhar<br>

        <h3>Habilidades (opcional):</h3>
        
        <input type="checkbox" name="interests" value="logica"> Tenho boa lógica<br>
        <input type="checkbox" name="interests" value="empatia"> Sou empático<br>
        <input type="checkbox" name="interests" value="criatividade"> Sou criativo<br>
        <input type="checkbox" name="interests" value="resolucao_problemas"> Gosto de resolver problemas<br>


        <br><br>
        <button type="submit">Recomendar</button>
    </form>

        {% if recommendations %}
        <h2>Carreira(s) recomendada(s):</h2>

        {% set max_score = recommendations[0][1] %}

        <ul>
            {% for career, score in recommendations %}
                {% if score == max_score %}
                    <li>{{ career }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
